<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Mystery Adventure</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

  <link rel="stylesheet" type="text/css" href="stylesheets/book.css" media="all" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="all" />
  <link rel="stylesheet" type="text/css" href="stylesheets/edmond.css" media="all" />

  <script type="text/javascript" src="javascripts/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="javascripts/turnjs4/lib/turn.js"></script>
  <script type="text/javascript" src="javascripts/turnjs4/lib/scissor.js"></script>
</head>

<body class="<%= page_classes %>">
  <!-- Begin Header -->
  <div class="header-wrapper">
    <div class="header">

      <!-- Begin Menu -->
      <div id="menu" class="menu">
        <ul id="tiny">
          <li<%= active?('index') %>>
            <a href="/index.html">Home</a>
          </li>
          <li<%= active?('event') %>>
            <a href="/event.html">Event Details</a>
          </li>
          <li<%= active?('rsvp') %>>
            <a href="/rsvp.html">RSVP</a>
          </li>
          <li<%= active?('news') %>>
            <%= link_to 'News', '/news.html' %>
          </li>
          <li>
            <!-- <a href="backstory.html"> -->
            <a href="archives-unicornguild.html">The Archives</a>
          </li>
          <!--
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="videocase.html">Videocase</a></li>
          <li><a href="contact.html">Contact</a></li>
          -->
        </ul>
      </div>
      <div class="clear"></div>
      <!-- End Menu -->

    </div>
  </div>
  <!-- End Header -->

  <%= yield %>

</body>
</html>